<div class='pannel pannel-default'>
  <div class='pannel-heading'><h2>Rejestracja</h2></div>
  <div class='pannel-body'>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, 'Nazwa' %><br />
    <%= f.text_field :name, class: 'form-control', :autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :hasło %>
    <% if @minimum_password_length %>
    <em>(minimum <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :potwierdź_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Zarejestruj", class: 'btn btn-primary' %>
  </div>
<% end %>

  </div>
  <div class='pannel-footer'><%= render "devise/shared/links" %></div>
</div>