<div id="pins" class="transistions-enabled">
  <% @pins.each do |pin| %>
    <div class="box">
      <%= link_to image_tag(pin.image.url(:medium)), pin %><br>
      <%= pin.description %><br>
      <strong><%= pin.user.name if pin.user %></strong><br>
      <% if pin.user == current_user %>
        <%= link_to 'Edytuj', edit_pin_path(pin) %><br>
        <%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewien?' } %>
      <% end %>
   </div>
  <% end %>
</div>

<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
