<p>
  <%= image_tag @pin.image.url(:medium) %><br>
  <strong>Description:</strong>
  <%= @pin.description %>
  <%= @pin.user.name %><br>
</p>

<% if @pin.user == current_user %>
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<%= link_to 'Back', pins_path %>
