<div class="jumbotron">
    <h1>Hello world!</h1>
    <p>Main Ruby on Rails page.</p>
    
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg' %>
</div>